$dark-cyan: hsl(158, 36%, 37%);
$cream: hsl(30, 38%, 92%);
$very-dark-blue: hsl(212, 21%, 14%);
$dark-grayish-blue: hsl(228, 12%, 48%);
$white: hsl(0, 0%, 100%);

$font-family-montserrat: "Montserrat", sans-serif;
$font-family-fraunces: "Fraunces", serif;

@font-face {
    font-family: "Fraunces";
    src: url("/assets/fonts/Fraunces-Variable-Regular.ttf");
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

img {
    display: block;
    margin:0;
    padding: 0;
}

html,
body {
    font-size: 14px;
    line-height: 1.5;
    font-family: $font-family-montserrat;
    background-color: $cream;
    color: $dark-grayish-blue;
    margin: 0;
    padding: 0;
    height: 100%;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    @media (min-width: 375px) {
        padding: 1rem;
    }
}

h1, h2, h3 {
    font-family: $font-family-fraunces;
}

.card {
    width: 100%;
    max-width: 343px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: $white;

    @media (min-width: 375px) {
        max-width: 600px;
    }

    @media (min-width: 1440px) {
        flex-direction: row;
        height: 450px;
    }
    &__image {
        width: 100%;
        @media (min-width: 1440px) {
            height: 100%;
        }

        &-img {
            width: 100%;
            border-top-left-radius: 10px;
            border-top-right-radius: 10px;

            @media (min-width: 1440px) {
                border-top-left-radius: 10px;
                border-bottom-left-radius: 10px;
                border-top-right-radius: 0;
                border-bottom-right-radius: 0;
                height: 100%;
                width: auto;
            }
        }
    }

    &__content {
        padding: 1.85rem;
        display: flex;
        flex-direction: column;
        gap: 1.2rem;
        @media (min-width: 1440px) {
            padding: 2.5rem;
            justify-content: space-between;
            height: 100%;
        }
    }

    &__category {
        text-transform: uppercase;
        letter-spacing: 0.3em;
        font-size: 0.8rem;
        margin: 0;
    }

    &__title {
        font-family: $font-family-fraunces;
        font-size: 2.3rem;
        line-height: 2.3rem;
        color: $very-dark-blue;
        font-weight: bold;
        margin: 0;
    }

    &__description {
        line-height: 1.6;
        margin: 0;
    }

    &__price {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 1rem;
        margin: 0;

        &--discounted {
            font-family: $font-family-fraunces;
            font-size: 2rem;
            color: $dark-cyan;
            font-weight: bold;
            margin: 0;

            @media (min-width: 1440px) {
                font-size: 2.3rem;
            }
        }

        &--original {
            text-decoration: line-through;
            margin: 0;
        }
    }

    &__button {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 0.5rem;
        font-weight: bold;

    background-color: $dark-cyan;
    color: $white;
    padding: 1rem 2rem;
    border-radius: 0.5rem;
    text-decoration: none;
        &:hover {
            background-color: $dark-cyan;
        }

        &-icon {
            width: 15px;
            height: 16px;
        }
    }
}